<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/scripts.js" type="text/javascript"></script>
        <title>Whoa-oh, We're Half Way There, Whoa-oh, Livin' Off My Hair!</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1><a href="/">Livin' Off My Hair (Salon)</a></h1>
                <h4>Proprietor and Head Stylist: Bon Joe Beehive!</h4>
            </div>
            <h2>{{ stylist.getName }}'s Clients</h2>
            {% if clients is not empty %}
                <ul class="list-group">
                    {% for client in clients %}
                        <li class="list-group-item">{{ client.getName }} (<a href="/clients/{{ client.getId }}">View Details</a> | <a href="/clients/{{ client.getId }}/edit">Edit Stylist</a>)</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>Whoops, we have no clients! Quick, enter some now!</h4>
            {% endif %}
            <h2>Add a Client to the Roster:</h2>
            <form action="/clients" method="post">
                <div class="form-group">
                    <label for="client_name">Name of Client</label>
                    <input class="form-control" type="text" name="client_name" required autofocus>
                </div>
                <button type="submit" class="btn btn-success">Add Client</button>
                <button type="button" class="btn btn-warning btn-clear-fields">Clear Name</button>
            </form>
            <h2>Remove All Clients</h2>
            <form action="/stylists/delete_all" method="post">
                <button type="submit" class="btn btn-danger">Start from Scratch!</button>
            </form>
        </div>
    </body>
</html>
